  {% extends 'header.html' %}
  {% block content %}
        <div class="left-content col">
            <div class="featured">
                <a href="">
                    <div class="line1 today col">
                        <div class="today-date circular col">
                            <div class="current-date">
                                <p class="small-text">{{ today }}</p>
                            </div>
                        </div>
                        <p class="count-text feature-count col">0</p>
                        <p class="feature-text">Today</p>
                    </div>
                </a>
                <a href="">
                    <div class="line1 scheudule col">
                        <div class="col circular scheduled-circ">
                            <i class="fa-regular fa-rectangle-list interior"></i>
                        </div>
                        <p class="count-text feature-count col">0</p>
                        <p class="feature-text">Scheduled</p>
                    </div>
                </a>
                <a href="">
                <div class="line2 all">
                    <div class="all-circ col circular">
                        <i class="fa-solid fa-inbox interior"></i>
                    </div>
                    <p class="count-text feature-count col">0</p>
                    <p class="feature-text all-text">All</p>
                </div>
            </a>
            </div>
            <div class="reminder-lists">
                <p class="reminder-list-header faded">My Lists</p>
                <a href="">
                    <div class="reminder-list">
                        <div class="reminder-icon-list circular col">
                            <i class="fa-solid fa-list interior"></i> 
                        </div>
                        <p class="list-content col">Grocery</p>
                        <p class="list-content count-text faded col">0</p>
                    </div>
                </a>
            </div>
            <a href="">
                <div class="add-list">
                    <p><i class="fa-solid fa-circle-plus"></i> Add list</p>
                </div>
            </a>
        </div>
        <div class="right-content col">
            
        </div>
  {% endblock %}